.panigation {
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: black;
}

.page {
    padding: 20px;
    cursor: pointer;
}

.page.disabled {
    cursor: not-allowed;
    color: greenyellow;
}

.curent {
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid orangered;
    font-size: 20px;
    font-weight: 600;


}